@page "/"
@using Microsoft.Extensions.Configuration;


<h1>Solar Analysis</h1>

<p>Enter the building data in order of building location from left to right.</p>


<EditForm Model="@building" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary Model="@building" />
    <div class="container">
        <label id="buildingLabel" for="buildingText" >Building Label</label>
        <InputText @bind-Value="building.label" class="form-control" id="buildingText"></InputText>

        <label id="buildingHeightLabel" for="buildingHeight">Building Height (ft)</label>
        <InputNumber @bind-Value="@building.height" class="form-control" id="buildingHeight"></InputNumber>

        <label id="buildingWidthLabel" for="buildingWidth">Building Width (ft)</label>
        <InputNumber @bind-Value="@building.width" class="form-control" id="buildingWidth"></InputNumber>

        <input type="submit" id="formSubmit" value="Add Building" class="btn btn-primary"/>
        <input type="button" id="clearList" value="Clear Buildings" class="btn btn-danger" @onclick="@(() => ClearList())"/>
    </div>

</EditForm>
<br />
<EditForm Model="@address" OnValidSubmit="HandleAddress">
    <label>Address</label>
    <InputText @bind-Value="@address.address" class="form-control"></InputText>

    <label>Date</label>
    <InputDate @bind-Value="@address.date" class="form-control"></InputDate>

    <input type="submit" value="Get Daylight Hours" class="btn btn-primary"/>
</EditForm>

<h3>@address.lat : @address.lon</h3>
<h3>@address.timeSeconds</h3>
<br />
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Building Label</th>
                <th scope="col">Building Height</th>
                <th scope="col">Building Width</th>
                <th scope="col">Sees Sunset</th>
                <th scope="col">Sees Sunrise</th>
                <th scope="col">Sunset Location</th>
                <th scope="col">Sunrise Location</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var b in buildings)
            {
            <tr>
                <th scope="row">@b.label</th>
                <td>@b.height</td>
                <td>@b.width</td>
                <td>@b.seeSunSet</td>
                <td>@b.seeSunRise</td>
                <td>@b.setLocation</td>
                <td>@b.riseLocation</td>
            </tr>
            }
        </tbody>
    </table>
</div>

<SfChart Title="Sunset/Sunrise" @ref="chartObj">
    <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
    <ChartPrimaryXAxis EdgeLabelPlacement="EdgeLabelPlacement.Shift">
        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
    </ChartPrimaryXAxis>
    <ChartPrimaryYAxis Title="Building Height (ft)" LabelFormat="{value}ft">
        <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
        <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
    </ChartPrimaryYAxis>
    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
    <ChartSeriesCollection>
        <ChartSeries DataSource="@ChartData" Name="Sunrise-Sunset" XName="xValue" Width="2"
                     YName="sunriseSunset" Type="ChartSeriesType.StepArea">
        </ChartSeries>
        <ChartSeries DataSource="@ChartData" Name="Sunset" XName="xValue" Width="2"
                     YName="sunset" Type="ChartSeriesType.StepArea">
        </ChartSeries>
        <ChartSeries DataSource="@ChartData" Name="Sunrise" XName="xValue" Width="2"
                     YName="sunrise" Type="ChartSeriesType.StepArea">
        </ChartSeries>
        <ChartSeries DataSource="@ChartData" Name="Shaded" XName="xValue" Width="2"
                     YName="noSun" Type="ChartSeriesType.StepArea">
        </ChartSeries>
    </ChartSeriesCollection>
</SfChart>

@code{

}
